__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.bak
*.swp
*.swo
*.~
*.tmp
*.egg-info/
*.egg
env/
.env
.vscode/
# Ignorar migraciones (opcional, descomenta la siguiente línea si NO quieres versionarlas)
# app_practicas/migrations/